body{
  font-family: "OpenSans",sans-serif;
}

svg path{
  fill:#369;
}

svg path:hover{
  color: #f56b2a;
}

.color:hover{
  color:#f56b2a;
}

header{
  position: sticky;
  top: 0;
  z-index: 1;
}

li, a{
  text-decoration: none;
  list-style: none;
}

#menu{
  height: 80px;
  background-color: #f56b2a;
}

.color, #button-menu{
  color: #f56b2a;
}

#button-menu{
  margin-left: 15px;
  margin-top: 25px;
  padding:10px;
}

#nav-ul{
  padding-left:0px;
}

#fenetre, #taille{
  margin:0;
  padding: 0;
}

.img ,.pour-pc{
  background-color: #f56b2a;
}

.pour-pc a{
  color: white;
}
h1{
  font-size:1rem;
  text-align: center;
}

nav-color{
  background-color: #f2f2f2;
}

.connecter{
  border: none;
  background: transparent;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  color: white;
}

.connecter:hover{
  background-color: white;
  color: #f56b2a;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}

main{
  padding-top:2%;
}

#info{
  height: 200px;
}

#info button{
  font-size:10px important;
}

p{
  text-align: center;
  font-size: 15px;
}

.footer-bas{
  background-color: #474747;
}

.footer-bas a{
  color: white;
}

.titre{
  font-weight: bold;
  border-bottom: 1px solid black;
}

footer{
  background-color: #f2f2f2;
  font-size:10px;
}

footer ul{
  margin-top: 25px;
}

.icon{
  font-size:25px;
}
